@font-face {
    font-family: Aleo-Bold ;
    src: url('/src/components/fonts/Aleo-Bold.ttf');
}
@font-face {
    font-family: Aleo-BoldItalic;
    src: url('/src/components/fonts/Aleo-BoldItalic.ttf');
}
@font-face {
    font-family: Aleo-Regular;
    src: url('/src/components/fonts/Aleo-Regular.ttf');
}

body{
    display: flex;
    flex-flow: column nowrap;  
    background-color: black;
    height: 100vh;
    box-sizing: border-box;
}
#root{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100vh;
}